<main class="container mt-4">
  <h1>Livros</h1>
  <table class="table table-striped">
    <thead class="head-tabela">
      <tr>
        <th>Título</th>
        <th>Resumo</th>
        <th>Editora</th>
        <th>Autores</th>
      </tr>
    </thead>
    <tbody class="tabela">
      <tr *ngFor="let livro of livros">
        <td>
          {{ livro.titulo }} <br />
          <button class="btn btn-danger btn-sm" (click)="excluir(livro.codigo)">
            Excluir
          </button>
        </td>
        <td>{{ livro.resumo }}</td>
        <td>{{ livro.codEditora }}</td>
        <td>
          <ul>
            <li *ngFor="let autor of livro.autores">{{ autor }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</main>
